extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
block content 
    section#intro 
        div Welcome to Dance Studio 
        div.small Eat Sleep Dance Repeat
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box 
                div.card-img 
                  img(src="/static/img/1.png")  
                div.card-content 
                    p this is the best dance acadamy  
        div.card
            h3 Dance the way you like 
            div.card-box 
                div.card-img 
                  img(src="/static/img/2.png")  
                div.card-content 
                    p this is the best dance acadamy  
        div.card
            h3 Expert Teaching
            div.card-box 
                div.card-img 
                  img(src="/static/img/3.png")  
                div.card-content 
                    p this is the best dance acadamy     
    section#sponsorSection
        h2 Our Sponsors
        div#sponsorS
            img(src="/static/img/hp.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/apple.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/ms.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/skype.png", alt="Sponsors Image" class="spImage")