@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

.conImg {
    background: center/cover no-repeat url("/static/img/img2.jpg");
    background-size: cover;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: left;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 30px;
}

.container {
    margin: 50px;
    /* padding: 0 30px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container p {
    margin-top: 2px;
}

#testimonial {
    /* background-position: center;
    background: url("/static/img/img4.jpg") repeat; */
    height: 400px;
    background: center/contain no-repeat url("/static/img/img4.jpg");
    background-size: cover;
    /* opacity: 0.7; */
}

#testimonial .overlay {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#testimonial .overlay h3 {
    color: white;
    font-size: 50px;
}

#testimonial .overlay h2 {
    color: pink;
    font-size: 50px;
}

#testimonial .overlay p {
    /* color: white;
    font-size: 30px;
    padding-top: 30px;
     */
    color: #FFF;
    font-size: 20px;
    font-style: italic;
    padding: 30px;
    letter-spacing: 1px;
    text-align: center;
    /* font-family: "PT Serif",sans-serif; */
    position: relative;
}

#testimonial .client {
    width: 100%;
    margin: auto;
    display: table;
    padding-top: 30px;
    padding-left: 38%;
}

#testimonial .client-img img {
    border-radius: 50%;
    width: 75px;
    height: 65px;
    background-color: transparent;
    border: 4px solid rgba(173, 165, 165, 0.3);
    float: left;
    margin-right: 20px;
}

#testimonial p.name {
    font-style: italic;
    /* font-size: 16px; */
    line-height: 20px;
    padding-top: 0px;
    font-family: "PT Serif", serif;
    text-align: center;
    color: #FFF;
    float: left;
}

#testimonial p.name span {
    /* font-size: 22px; */
    line-height: 20px;
    font-style: italic;
    color: #FFC00B;
}